[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
mypy = "*"
twine = "*"
setuptools = "*"
black = "==19.3b0"
pytest-asyncio = "*"
mutmut = "*"

[requires]
python_version = "3.6"
