[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
mypy = "*"
twine = "*"
setuptools = "*"
black = "==18.6b4"
cosmic-ray = "*"

[requires]
python_version = "3.6"
