[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cosmic-ray = "*"

[dev-packages]
pytest = "*"
mypy = "*"
twine = "*"
setuptools = "*"
black = "==18.6b4"
cosmic-ray = "*"
cosmic-ray-pytest = "*"

[requires]
python_version = "3.6"
